html {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 80px;
  line-height: 94px;
  color: #4bcaff;
  text-decoration: none;
}
.title-colored {
  color: #000000;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
  margin-top: 40px;
}

.header-menu-item {
  display: flex;
  flex-basis: content;
  align-items: center;
  border-left: 1px solid #fff;
  height: 69px;
  padding: 0 38px;
  font-size: 24px;
  line-height: 28px;
}

.header-menu-item-last {
  border-right: 1px solid #fff;
}

.header-link {
  color: #fff;
  text-decoration: none;
}
.header-menu-item:hover {
  background-color: #222f3a;
}

/* body,sidebar  */

.main-container {
  display: flex;
  flex-direction: center;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: flex-start; */
  border: 1px solid #dbdbdb;
  margin-top: 49px;
}

.sidebar-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 344px;
  height: 81px;
  padding-left: 44px;
  font-size: 27px;
  line-height: 27px;
}

.sidebar-link {
  color: #495863;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
  color: #000000;
}

/* body,  */
.main-content {
  margin: 49px 0 0 40px;
}

.border-box {
  border: 1px solid #dbdbdb;
  width: 885px;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.main-img {
  transition: transform 0.5s;
}
.main-img:hover {
  transform: scale(1.1);
}

.main-text {
  color: #2c2c2c;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 24px;
}

/* footer */

.footer-сontainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(99, 105, 110, 0.48);
}
.foter-menu {
  display: flex;
}

.foter-menu-item {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  height: 69px;
  padding-top: 17px;
  margin-left: 42px;
}
.item-link {
  color: #0c1927;
  text-decoration: none;
}
.footer-copyright {
  display: flex;
  align-items: center;
  color: #010101;
  font-size: 24px;
  line-height: 24px;
  padding-left: 92px;
}

.item-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
